*.xml
*.iml
*.pyc
__pycache__/bullet.cpython-311.pyc
__pycache__/config.cpython-311.pyc
__pycache__/enemy.cpython-311.pyc
__pycache__/game.cpython-311.pyc
__pycache__/interface.cpython-311.pyc
__pycache__/player.cpython-311.pyc
__pycache__/shed.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
